@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 196 40% 98%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 80%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;

    --input: 214 31% 85%;

    --primary: 196 67% 38%;
    --primary-foreground: 214 66% 94%;

    --secondary: 196 51% 71%;
    --secondary-foreground: 214 67% 30%;

    --accent: 210 40% 89%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 345 81% 50%;
    --destructive-foreground: 345 66% 92%;

    --ring: 215 20.2% 65.1%;
}

.dark {
    --background: 233 31% 5%;
    --foreground: 214 31% 91%;

    --muted: 233 31% 11%;
    --muted-foreground: 244 16% 45%;

    --card: 229 40% 10%;
    --card-foreground: 214 31% 91%;

    --popover: 229 30% 14%;
    --popover-foreground: 214 31% 91%;

    --border: 229 30% 25%;

    --input: 214 31% 91%;

    --primary: 196 67% 38%;
    --primary-foreground: 214 66% 94%;

    --secondary: 196 89% 17%;
    --secondary-foreground: 214 66% 84%;

    --accent: 229 30% 25%;
    --accent-foreground: 214 31% 91%;

    --destructive: 345 81% 50%;
    --destructive-foreground: 345 66% 92%;

    --ring: 215 20.2% 65.1%;
}
